<h1>New Farm Creation</h1>
<%=form_with url: '/farms', method: :post, local: true do |form| %>
<%= form.label :name %>
<%= form.text_field :name %>
<p><%= form.label :acres_of_land %>
<%= form.text_field :acres_of_land %></p>
<p><%= form.label :has_barn %>
<%= form.text_field :has_barn %></p>
<%= form.submit 'Create Farm'%>
<%end%>