<h1>Farms Show Details</h1>
  <h3><%= @farm.name %></h3>
  <p>ID: <%= @farm.id %></p>
  <p>Acres: <%= @farm.acres_of_land %></p>
  <p>Has a barn: <%= @farm.has_barn %></p>
  <p>Total animals: <%= @farm.total_animals %></p>