<%= link_to "All animals", "/animals"%><br>
<%= link_to "All farms", "/farms"%>

<h1>All Animals</h1>
<% @animals.each do |animal| %>
  <h3><%= link_to "edit :", "/animals/#{animal.id}/edit" %>
  <%= animal.species %></h3>
  <p>Height: <%= animal.height%></p>
  <p>Weight: <%= animal.weight%></p>
  <p>Four Legs?: <%= animal.four_legged%></p>
  <p>Created: <%= animal.created_at%></p>
  <p>Last Updated: <%= animal.updated_at%></p>
  <p><%= button_to "Delete #{animal.species}", "/animals/#{animal.id}", method: :delete %></p>
<% end %>

<h1>All Animals with 4 legs</h1>
<% @animals_only_true.each do |animal| %>
  <h3><%= animal.species %></h3>
  <p>Height: <%= animal.height%></p>
  <p>Weight: <%= animal.weight%></p>
  <p>Four Legs?: <%= animal.four_legged%></p>
<% end %>