<h1><%= @animal.species %></h1>
<h3><p>Farm: <%= @animal.farm.name %></p></h3>
  <p>Height: <%= @animal.height %> in</p>
  <p>Weight: <%= @animal.weight %> lbs</p>
  <p>Is four legged: <%= @animal.four_legged %></p>