<%= link_to "All animals", "/animals"%><br>
<%= link_to "All farms", "/farms"%><br>
<%= link_to "Update #{@animal.species}", "/animals/#{@animal.id}/edit"%>

<h1><%= @animal.species %></h1>
<h4><p>Farm: <%= @animal.farm.name %></p></h4>
  <p>Height: <%= @animal.height %> in</p>
  <p>Weight: <%= @animal.weight %> lbs</p>
  <p>Is four legged: <%= @animal.four_legged %></p>
  <p>Created: <%= @animal.created_at%></p>
  <p>Last Updated: <%= @animal.updated_at%></p>
  <p><%= button_to "Delete #{@animal.species}", "/animals/#{@animal.id}", method: :delete %></p>